.bottomLeft {
    width: 171px;
    height: 100%;
    background: rgba(36, 43, 57, 1)
}

.bottomRight {
    width:100%;
    height: 100%;
    background-color: #f6f6f6;
}

.bottomBox {
    display: flex;
    height: 719px
}

.ant-typography {
    width: 16px !important;
    margin-right: 5px;
}

// .ant-list-split .ant-list-item {
//     border-bottom: none;
//     color: white;
//     text-align: left;
//     padding-left: 20px
// }

.topBox {
    height: 50px;
    display: flex;
    position: relative
}

.topLeft {
    width: 171px;
    height: 50px;
    background: rgba(44, 166, 224, 1) !important;
}

.topRight {
    width:80%;
    height: 50px;
    position:absolute;
    top:0
}

.logoBox {
    width: 60px;
    height: 21px;
    margin: 18px 0 0 11px;
}

.logo {
    width: 100%;
    height: 100%;
}

.breadLeft {
    float: left;
    margin: 20px 0 0 36px;
    font-size: 10px;
    font-family: Microsoft YaHei;
    font-weight: 300;
    color: rgba(0, 0, 0, 1);
    opacity: 0.6;
}

.ant-breadcrumb>span:last-child a {
    font-size: 10px;
    font-family: Microsoft YaHei;
    font-weight: 300;
    color: rgba(44, 166, 224, 1);
}

.avator {
    width: 25px;
    height: 28px;
    display: inline-block
}

.avator img {
    width: 100%;
    height: 100%;
    margin-right: 6px
}

.logout {
    width: 11px;
    height: 12px;
    display: inline-block
}

.breadRight {
    position: absolute;
    right: 36px;
    top: 10px;

    >span {
        display: inline-block;
        margin: 10px;
        font-size: 13px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: rgba(38, 38, 38, 1);
        line-height: 21px
    }
}

.icon {
    display: inline-block;
    margin-right: 8px
}
.ant-menu-submenu-title{
    padding-left:0px!important
}
.secondsubmenu>.ant-menu-submenu-title {
    text-align: left;
    padding-left: 48px !important;
    font-size: 10px !important
}
.secondsubmenu>.ant-menu-item{
    padding-left:80px!important
}
.ant-menu-item {
    text-align: left;
    padding-left: 48px;
    font-size: 10px !important
}

.ant-menu{
    width:172px!important;
    background: rgba(36, 43, 57, 1)!important;
    box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.1)!important;
    color:white!important
}
