.title2 {
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(62, 66, 68, 1);
    margin:30px 50px ;
    text-align:left
}
.datepicker{
    margin:30px 50px ;
    text-align:left
}
.ant-btn{
    margin-left: 20px;
    transform: translateY(-3px);
}
.count{
    margin:0 50px 0 50px;
    height:120px;
    display:flex;
    justify-content: space-between;
}
.amount2 ,.total2{
    padding:20px;
    width:23%!important;
    background-color: white;
    text-align: left;
}
.m{
    margin-top:20px;
    font-size:18px
}
.wrap{
    margin:30px 50px;
    background-color: white;
    text-align: left;
}
.date{
    display: inline-block;
    margin-right:24px
}
#main1,#main2 {
    height: 450px;
    width: 100%
}
.y{
    position: absolute;
    top:20px;
    left:70px;
}
.main,.secondmain{
    margin:0 50px;
    background-color: white;
    position: relative;
}