.ant-menu{
    background:none!important;
    color:white
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background:rgba(44,166,224,1)!important;
    color:white!important
}
.ant-menu-item{
    text-align: left;
    padding-left:60px!important
}
.icon{
    display:inline-block;
    margin-right:8px
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
    border-right: none;
}
